<nav class="navbar is-white">
  <div class="container">
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-active" href="#">ምርጥ 10</a>
        <a class="navbar-item" href="#">ምርጥ 100</a>
        <a class="navbar-item" href="#">የምንግዜም ምርጥ</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <input class="input" type="text" placeholder="Search forum...">
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="container" style="margin-top:24px;">
  <div class="columns">
    <div class="column is-3">
      <a class="button is-primary is-block is-alt is-large" href="#">ድምጽ ስጥ</a>
      <aside class="menu">
        <p class="menu-label">
          ዘርፎች
        </p>
        <ul class="menu-list">
          <li><a>ሁሉም</a></li>
          <li><a>የጾም</a></li>
          <li><a>የፍስክ</a></li>
          <li><a>ትኩስ መጠጦች</a></li>
          <li><a>ኬኮች</a></li>
          <li><a>የፍራፍሬ ጭማቂ</a></li>
        </ul>
      </aside>

    </div>

    <div class="column is-9">
      <div class="box content">

          <div class="column">
              <div class="card" *ngFor="let food of top_ten;let ind of index;">
                  <div class="header">
                      <div class="media">
                          <div class="media-left">
                                 <font size="42px">{{ind}} - {{food.label}}</font>
                      
                          </div>
                          
                      </div>
                  </div>
                  <div class="card-image">
                      <figure class="image is-2by1">
                          <img src="{{food.pic}}" alt="Placeholder image">
                      </figure>
                  </div>
                  <div class="card-content">
                      <div class="level is-mobile">
                          <div class="level-left">
                              <div class="level-item has-text-centered">
                                  <a href="">
                                      <i class="material-icons">favorite_border</i>
                                  </a>
                              </div>
                              <div class="level-item has-text-centered">
                                  <div>
                                      <a href="">
                                          <i class="material-icons">chat_bubble_outline</i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
  
                      <div class="content">
                          <p>
                              <strong>32 Likes</strong>
                          </p>
                          this food is the best of its kind and it is actually affordable.
                          <a>@username</a>.
                          <a href="#">#fasting</a>
                          <a href="#">#non-fasting</a>
                          <br>
                          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                      </div>
                  </div>
                  <div class="card-footer">
                      <div class="columns is-mobile">
                          <div class="column is-11">
                              <div class="field">
                                  <div class="control">
                                      <input class="input is-medium" placeholder="Add a comment . . ." type="text">
                                  </div>
                              </div>
                          </div>
                          <div class="column has-text-centered">
                              <button class="button">
                                  <i class="material-icons">more_horiz</i>
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
  
  
  
          </div>

        
      </div>
    </div>

  </div>
</section>