<h1>አዲስ ምግብ መመዝገቢያ</h1>
<hr/>
<form>

  <label>
  የምግቡ ስም
  <input class="input" type="text" name="foodname"/>
  </label>
  <br/>
  <label>
  የጾም (ኢኦተቤ)
  <input class="check" type="checkbox" name="tsom"/>
  </label>
  <br/>

  <label>
  ሀላል (ሙስሊም)
  <input class="checkbox" type="checkbox" name="halal"/></label>
  <br/>
  <label>
  ቦታ
  <input class="input" type="text" name="place"/></label>
  <br/>
  <label>
  ዋጋ
  <input class="input" type="text" name="price"/></label>
  <br/>
  <label>
  English name:
  <input class="input" type="text" name="english_name"/>
</label><br/>
<br/>
<button type="button" (click)="addNewFood()">መዝግብ</button>

</form>